.Bestsellers {
    width: 85px;
    height: 24px;
    margin: 0 259px 0 16px;
    font-family: GalanoGrotesque;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #1a181e;
}
.box{
    position: relative;
    display: inline;
    width: 124px;
    height: 124px;
}
.box .text {
    position: absolute;
    left: 28px;
    width: 100px;
    height: 20px;
    font-family: GalanoGrotesque;
    font-size: 15px;
    font-weight: 500;    
    color: var(--white);
    top: 40px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}